.list-grid {
    width:100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap:20px;
    grid-auto-flow: dense;
    justify-content: center;
    margin: 30px 0;
    // padding: 10px;
    margin-top: 150px;

    img {
            max-width: 100%;
            min-height:100%;
            object-fit: cover;
            border-radius: 10px;
        }
    a {
        text-decoration: none;
        color: $clr7;

    }  

}

.preview-crousel {
    height: 100%;
}

.stay-card {
    cursor: pointer;
}
// @media (min-width: 500px) {
//     .el-carousel-item {
//         height: 550px;
// }
// }
// @media (min-width: 740px) {
//     .el-carousel-item {
//         height: 200px;
// }
// }
// @media (min-width: 1116px) {
//         .el-carousel-item {
//             height: 90;
//     }
// }

// .el-carousel {
//                 height: 190px;
//         }

.el-carousel__mask {
    height: 100% !important;
}
.el-carousel__arrow {
    background-color: white !important;
    color: $clr7 !important;
    font-weight: bolder !important;
    box-shadow: 0px 0px 10px 0px #717171;
}
.el-carousel__arrow:hover {
    background-color: white !important;
    color: $clr7 !important;
    weight: bolder !important;
}

.el-carousel__button {
   width: 7px !important;
   height: 7px !important;
   border-radius: 50% !important;
}

.preview-text {
    font-family: airbnb-book;
    text-align: left;
    line-height: 23px;
    .preview-details {
        letter-spacing: 0.02em;

    }
}

.el-carousel__item.is-animating{
    border-radius: 10px;
}

.preview-rate {
    margin: -10px 0;
    font-size: 14px;
    line-height: 18px;

    span {
        color:$clr4; //rgb(113, 113, 113)
    }
    .star {
        // color: #FF385C; //rgb(255, 56, 92)
        // font-size: 14px;
        padding-right: 3px;

     }
}