
.alert {
    position: absolute;
    bottom: 50px;
    right: 50px;
    padding: 10px;
    border: 1px solid $clr4;
    border-radius: 2em;
}


/* animations */

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}