header {   
    background-color: $clr5;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    color: $clr6;
    font-weight: bold;

    img{
        height: 30px;

    }

    .loggedin-user {
        background-color: $clr1;
        padding: 2px 8px;
        border-radius: 1em;
        align-self: flex-end;
        color: $clr6;
        span{
            background-color: $clr2;
            padding: 4px;
            margin: 10px;
            border-radius: 50%;
        }
    }
    nav {
        background-color: $clr5;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.3em;
        padding: 0.7em;
                
        .logo {
        color: $clr6;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
        font-size: 20px;
        display: flex;
        flex-direction: row;
        align-self: center;
        
        .logo-txt{
        align-self: center;
        padding-left: 8px ;
        }
        }

        a{
            color: $clr6;
            text-decoration: none;
            font-size: 14px;
            padding: 0.8rem;
            
        }

        a:hover{
            text-decoration: none;                      
        }

        .header-right{
            a:hover{
                border-radius: 22px;
                background-color: $clr7;
                height: 14px;           
            }
        }

        
        
    }

    nav .active {
        color: $clr1;
    }
    
}
