header { 
 
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    color: $clr6;
    font-weight: bold;
    padding-bottom: 1rem;

    img{
        height: 30px;

    }

    .loggedin-user {
        background-color: $clr1;
        padding: 2px 8px;
        border-radius: 1em;
        align-self: flex-end;
        color: $clr6;
        span{
            background-color: $clr1;
            padding: 4px;
            margin: 10px;
            border-radius: 50%;
        }
    }
    nav {
        align-self: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.3em;
        padding: 0.7em;
        margin: 0;
                
        .logo {
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
        font-size: 20px;
        display: flex;
        flex-direction: row;
        align-self: center;
        
        .logo-txt{
        align-self: center;
        padding-left: 8px ;
        }
        }

        a{
            text-decoration: none;
            font-size: 14px;
            padding: 0.8rem;
            font-weight: 600;
            letter-spacing: 0.04em;
            align-self: center;
            
        }

        .header-right{
            display: flex;
            flex-direction: row;
            margin: 0;
            align-self: center;
            justify-self: center;

            .hover{
            align-self: center;
            }

            .hover:hover{
                color: $clr5;
                border-radius: 22px;
                background-color: rgba(128, 128, 128, 0.247);
                text-decoration: none;
            }
        }     
    }

    .login-btn{
        display: flex;
        flex-direction: row;
        background-color: $clr6;
        border-radius: 50px;
        color: $clr4;
        padding: 0.2em;
        margin: 0;

        .bar{
            align-self: center;
            padding: 0.2em;
            margin-left: 0.6em;
            justify-content: space-between;        }

        .user-img{
            height: 31px;
        }

        img{
            border-radius: 50px;
            align-self: center;
            justify-self: center;
            margin-bottom: 0;
            // padding: 0.1em;
            margin-left: 0.6em;
            margin-right: 0.2em;
        }
    }

    nav .active {
        color: $clr1;
    }
    
}
