.date-picker{

}

.mx-datepicker-main{
    margin: auto;
    margin-top: 1rem;
    border-radius: 10px;
}

.mx-icon-calendar {
    display: none;
}

.mx-input{
    width: 100px;
    height: 1rem;
    border: none;
    margin: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: none;
}