.guests{
    width: 45%;
    color: $clr5;
    background-color: $clr6;
    border-radius: 30px;
    margin-top: 1em;
    font-size: 12px;
    margin-left: 53%;
    padding: 3em;
    margin-right: 2em;
}

.guests-main-container{
    display: flex;
    flex-direction: column;
    gap: 2em;    
}

.guests-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3em;
}

.guests-titles{
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.guests-title{
    font-size: 16px;
    font-weight: 500; 
}

.guests-note{
    font-size: 14px;
    color: rgb(113, 113, 113);
    &.bold{
        text-decoration: underline;
        color: $clr5;
    }
}

.guests-btns{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

button.guests-btn{
    text-decoration: none;
    border: 0.1px dashed rgb(176, 176, 176);
    border-radius: 100%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: rgb(113, 113, 113);
    margin-left: 1rem;
    margin-right: 1rem;

}    

