.location-container {
    background-color: $clr6;
    left: 100px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 150px;
    border-radius: 10px;
    gap: 10px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}
.location-card{
    display: flex;
    flex-direction: row;
    padding-top: 16px!important;
    padding-bottom: 16px!important;
    min-width: 330px;
    display: flex;
    align-items: center;
    width: 100%;
    grid-gap: 20px;
    gap: 20px;
    padding: 20px;
    cursor: pointer;
    img{
        border-radius: 5px;
    }
}

.location-card:hover{
    background-color: $clr3;
    border-radius: 50px;
    width: 90%;
    margin: auto;
}

.location-card:not(:last-child) {
    border-bottom: 1px solid $clr3;
}