.stay-order-box {
    position: sticky;
    top: 50%;
    right: 10%;
    background-color: yellow;
    height: 250.800px;
    width: 342.600px;
    padding:24px;
    border: 1px gray solid;
    border-radius: 10px;
    box-shadow: 0 6px 16px -2px #d8d8d8;
    
}

.order-form {
    height: 226.800px;
    width: 318.600px;
}