.stay-details-imgs-container{
margin-top: 2rem;
justify-content: center;
display: grid;
grid-template-columns: repeat(4, minmax(50px,1fr));
grid-template-rows: repeat(2, minmax(50px,1fr));
gap: 5px;
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
}

.stay-img0{
    grid-area: 1/1/3/3;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;    
}

.stay-img1{
    grid-area: 1/3/2/4;
}

.stay-img2{
    grid-area: 1/4/2/5;
    border-top-right-radius: 1rem;   
}

.stay-img3{
    grid-area: 2/3/3/4;
}

.stay-img4{
    grid-area: 2/4/3/5;
    border-bottom-right-radius: 1rem;    
    
}

.text-details {
    max-width: 50%;
}

.order-form-cmp {
    max-width: 50%;
    height: 100%;

}
