@media (max-width: 740px){
.home{
    margin: auto;
    text-align: center;        
    img{
        max-width: 100%;
        border-radius: 10px;
        margin-top: 150px;
        margin-bottom: 10px;
        box-shadow: 1px 1px 1px solid $clr3;
        }    
    h1{
        text-align: left;
        margin-top: 30px;
        font-size: 25px;
        padding-left: 0.5rem;
        margin-left: 30px;
    }
    .explore-locations{
        margin-top: 20px;
        background-color: $clr6;
        display: flex;
        flex-direction: column;
        justify-content: space-between;        
        &.top{
            h6{
                font-size: 14px;
                margin-left: 40px;
                margin-bottom: 30px;
            }             
        }       
    }
    .explore-location{
        cursor: pointer;
        img{
            max-width: 100%;
            object-fit: cover;
            border-radius: 10px;
            margin: 0;
            box-shadow: 1px 1px 1px solid $clr3;
        }
        h6{
            font-size: 20px;
            text-align: left;
            margin: 0;
            margin-left: 40px;
            margin-bottom: 30px;
        }
    } 

    .questions-about-hosting-container{
    margin-top: 20px;    
    img{
        max-width: 100%;
        margin: 0;
        padding: 0;
        box-shadow: 1px 1px 1px solid $clr3;
      }
    }
}
}

@media (min-width: 740px) and (max-width: 950px){
    .home{
        margin: auto;
        text-align: center;        
        img{
            max-width: 100%;        
            border-radius: 10px;
            margin-top: 150px;
            margin-bottom: 10px;
            box-shadow: 1px 1px 1px solid $clr3;
            }    
            h1{
                text-align: left;
                margin-top: 40px;
                font-size: 20px;
            }
        .explore-locations{
            margin-top: 20px;
            background-color: $clr6;
            display: flex;
            flex-direction: row;
            justify-content: space-between;        
            &.top{
                h6{
                    font-size: 11px;
                }             
            }       
        }
        .explore-location{
            cursor: pointer;
            img{
                max-width: 100%;
                object-fit: cover;
                border-radius: 10px;
                margin: 0;
                box-shadow: 1px 1px 1px solid $clr3;
            }
            h6{
                font-size: 20px;
                text-align: left;
                margin: 0;
            }
            } 
    
        .questions-about-hosting-container{
        margin-top: 60px;    
        img{
            max-width: 100%;
            margin: 0;
            padding: 0;
            box-shadow: 1px 1px 1px solid $clr3;
          }
        }
    }
}

@media (min-width: 950px){
    .home{
        margin: auto;
        text-align: center;        
        img{
            max-width: 100%;        
            border-radius: 10px;
            margin-top: 150px;
            margin-bottom: 10px;
            box-shadow: 1px 1px 1px solid $clr3;
            }    
            h1{
                text-align: left;
                margin-top: 60px;
                font-size: 25px;
                padding-left: 0.5rem;
            }
        .explore-locations{
            margin-top: 20px;
            background-color: $clr6;
            display: flex;
            flex-direction: row;
            justify-content: space-between;        
            &.top{
                h6{
                    font-size: 14px;
                }             
            }       
        }
        .explore-location{
            cursor: pointer;
            img{
                max-width: 100%;
                object-fit: cover;
                border-radius: 10px;
                margin: 0;
                box-shadow: 1px 1px 1px solid $clr3;
            }
            h6{
                font-size: 20px;
                text-align: left;
                margin: 0;
                padding: 10px;
                line-height: 20px;               
            }
            } 
    
    .questions-about-hosting-container{
        margin-top: 60px;    
        img{
            max-width: 100%;
            margin: 0;
            padding: 0;
            box-shadow: 1px 1px 1px solid $clr3;
          }
    }
    }
}

.reviewsInTopRated{
    color: $clr4;
    font-weight: 300;
    margin-left: 3px;
}

.hidden{
    display: none;
}
.show{
    display: block;
}
