// Colors
$clr1: #c05b82;
$clr2: #8b75a1;
$clr3: #2d2749;
$clr4: #63a5d4;
$clr5: #c5eee0;
$clr6: #fff;
$clr7: rgba(0, 0, 0, 0.884);
$clr8: rgba(0, 0, 0, 0.973);

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;