// Colors
$clr1: rgb(255, 55, 92); 
$clr3: #71717127;
$clr4: #717171; 
$clr5: #000000;
$clr6: #fff;
$clr7: #222222;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

