// Colors
$clr1: rgb(230, 30, 77); 
$clr2: rgb(227, 28, 95);
$clr3: rgb(215, 4, 102);
$clr4: #717171; 
$clr5: #000000;
$clr6: #fff;
$clr7: #222222;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

