// Colors
$clr1: #ff375c; 
$clr3: #71717127;
$clr4: #717171; 
$clr5: #000000;
$clr6: #fff;
$clr7: #222222;

// LAYOUT
$layoutPadding: 20px;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

// LAYOUT BREAKPOINTS
// $break-narrow: 460px;
// $break-normal: 640px;
// $break-wide: 960px;

// $padded-break-narrow: $break-narrow + $layoutPadding * 2;
// $padded-break-normal: $break-normal + $layoutPadding * 2;
// $padded-break-wide: $break-wide + $layoutPadding * 2;